@import "../../../../styles/colors.module.scss";

.sectionTitle {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 50px 0px 30px 0px;
}

.card {
  width: 340px;
  height: 280px;
  border-radius: 8px;
  padding: 14px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.3s;

  .cardTitle {
    transition: 0.3s;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .cardDescription {
    font-size: 15px;
    color: $lightGray;
  }

  &:hover{
    transform: scale(1.03);
    cursor: pointer;

    .cardTitle{
        font-size: 18px;
        margin-left: 5px
    }
  }
}

@media(min-width: 1400px){
    .card{
        width: 400px;
    }
}

@media(max-width: 991px){
    .card{
        width: 500px;
        height: 320px;
    }
}

@media(max-width: 540px){
    .card{
        width: 90%;
    }
}

.card1 {
  @extend .card;
  background-image: url("../../../../public/imgs/animes.jpg");
}
.card2 {
    @extend .card;
    background-image: url("../../../../public/imgs/filmes.jpg");
}
.card3 {
    @extend .card;
    background-image: url("../../../../public/imgs/series.jpeg");
}
.card4 {
    @extend .card;
    background-image: url("../../../../public/imgs/desenho.jpg");
}
.card5 {
    @extend .card;
    background-image: url("../../../../public/imgs/dorama.jpg");
}
.card6 {
    @extend .card;
    background-image: url("../../../../public/imgs/documentarios.jpeg");
}