@import "../../../styles/colors.module.scss";

.episodeCard {
    border: 1px solid $lightGray;
    margin-bottom: 20px;
    width: 550px;
    height: 190px;
    cursor: pointer;
    padding: 10px 14px;
    overflow: hidden;
    transition: 1s;
    
    &:hover {
        border-color: $lightRed;
        height: fit-content;
    }
}

.episodeOrderTime {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.episodeOrder {
    font-weight: bold;
    font-size: 18px;
}
.episodeTime {
    color: $lightGray;
}

.episodeTitleDescription {
    text-align: center;
    margin: 10px 0px;
}

.episodeTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.episodeDescription {
    color: $lightGray;
}

@media(max-width: 570px){
    .episodeCard{
        width: 90%;
    }
}

@media(max-width: 450px){
    .episodeCard{
        height: 165px;
    }

    .episodeOrderTime{
        gap: 25px;
    }

    .episodeOrder{
        font-size: 16px;
    }

    .episodeTitle{
        font-size: 16px;
    }

    .episodeDescription{
        word-break: break-all;
        font-size: 15px;
    }

}

@media(max-width: 300px){
    .episodeCard{
        height: 150px;
    }
}