.titleCategory{
    font-size: 24px;
    font-weight: bold;
    padding-top: 2%;
    align-self: flex-start;
    transform: uppercase;
}

@media(max-width: 820px){
    .titleCategory{
        padding-left: 5%;
    }
}